DEBUG=True
SECRET_KEY=dev-secret-key-replace-this-in-prod
DB_NAME=ss_spms
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
ALLOWED_HOSTS=localhost,127.0.0.1
CHURCH_ABBREV=AB
SS_ABBREV=ABSS
